Prog6_GrandFinale/Prog6_GrandFinale/Service References/PokemonService/PokemonService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Prog6_GrandFinale.WCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Prog6_GrandFinale.WCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPokemon">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Pokemon" nillable="true" type="tns:Pokemon" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPokemon" nillable="true" type="tns:ArrayOfPokemon" />
  <xs:complexType name="Pokemon">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateOfBirth" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Level" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pokemon" nillable="true" type="tns:Pokemon" />
</xs:schema>